*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(202, 152, 152);
}
nav {
    position: fixed;
    /* posicion fija*/
    height: 80px;
    /* altura definida */
    overflow: hidden;
    /*ocultar los contenidos que sobresalen de la caja.*/
    top: 0;
    display: flex;
    align-items: center;
    background: #f39fb4e6;
    width: 100%;
  }
nav a:hover{
  background-color: rgb(240, 108, 163);
}
.logo{
  background: url(../img/logo.png) no-repeat;
  /* imagen se escalara de forma que mantenga las proporciones*/
  background-size: contain;
  width: 300px;
  height: 80px;
  float: left}
.menu {
  position: absolute;
  right: 50px;
}

.menu a {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  margin-left: 30px;
  transition: color 1s;
  /*text-transform: uppercase;*/
}

.menu a:hover {
  color: #e85860;
}

header {
  width: 120%;
  height: 700px;
  background: url(../img/2fondo.png) no-repeat center  center fixed;
  background-size: cover;
  margin-top: 80px;
}

/* ESTILOS PARA EL MENU DESPLEGABLE */
.btn {
  display: none;
  position: absolute;
  right: 20px;
}
.btn:hover > span {
  background-color: #e85860;
}
.btn span {
  display: block;
  margin: 6px;
  width: 40px;
  height: 3px;
  background: #333;
}

/* ESTILOS DE LA PAGINA EN GENERAL */
p {
  /*font-family: 'Poppins', sans-serif;
    font-family: 'Lora', serif;;
    /* font-family: 'Work Sans', sans-serif;*/
  font-family: "Italianno", cursive;
  padding: 20px;
  font-size: 30px;
  text-align: justify;
  margin: 15px 25px;
}
h2 {
  font-family: "Work Sans", sans-serif;
  margin: 15px 25px;
  font-size: 40px;
}
@media only screen and (max-width: 550px) {
  nav {
    overflow: visible;
  }
  .menu {
    width: 100%;
    right: 0;
    top: 80px;
    background: #f1f1f1e6;
    overflow: hidden;
    max-height: 0;
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .btn {
    display: block;
    cursor: pointer;
  }
  .show {
    max-height: 500px;
  }
}

p {
  font-family: "Poppins", sans-serif;
  padding: 40px;
}

